<div class="gray_background" id="faqs">
	<div class="wrapper clearfix">
    	<h4>Frequently Asked Questions</h4>
    	<ul>
      		<li class=''>
        		<details class=''>
          			<summary class=''>Where can I try out Sentencezing for myself?</summary>
          			<p>You can head over to <a href="https://www.sentencezing.com">SentenceZing</a> to make an account and get started!</p>
      			</details>
      		</li>
      		<li>
        		<details class=''>
          			<summary>What is SentenceZing?</summary>
          			<p>SentenceZing is a cooperative, interactive creative writing game where you work with another user to create a unique story by building off each other's sentences.</p>
        		</details>
      		</li>
      		<li>
        		<details class=''>
          			<summary>How do I get started?</summary>
          			<p>You can either start your own story and add the first sentence or join an open story and start contributing.  If there isn't a story you like then you can always invite a friend to join you!  If you need help on how to create/join a story then <a href="http://www.sentencezing.com/howtoplay">click here</a> for more info.</p>
        		</details>
      		</li>
      		<li>
        		<details class=''>
          			<summary>How do I change around the images, product name, etc?</summary>
          			<p>The best way is in <code>config/settings.yml</code>. It has variables for several different parts, the video, the product name, the call to action button ("Fork Now"), and several more.</p>
        		</details>
      		</li>
    	</ul>
    	<ul class='col2'>
      		<li>
        		<details class=''>
          			<summary>How do I contact SentenceZing?</summary>
          			<p>Like us on <a href="https://www.facebook.com/sentencezing">Facebook</a></p> <br/>
          			<p>Subscribe to us on Youtube</p> <br/>
          			<p>Follow us on Twitter</p> <br/>
         			<p>Follow us on <a href="http://www.twitch.tv/sentencezing">Twitch</a></p>
        		</details>
      		</li>
      		<li class=''>
        		<details class=''>
          			<summary>Why did you release this?</summary>
          			<p>Hardware startups are less welcome on Kickstarter than they were 6 months ago. We needed to roll our own kickstarter, so we did. Other hardware startups probably will too, so we made it easier for them by open sourcing our way of doing it.</p>
        		</details>
      		</li>
      		<li class=''>
        		<details class=''>
          			<summary class=''>What software stack does this use?</summary>
          			<p>It's a Ruby on Rails app that makes heavy use of SCSS, Kickstarter's wonderful <code>amazon_flex_pay</code> gem, and a hint of CoffeeScript.</p>
        		</details>
      		</li>
      		<li class=''>
        		<details class=''>
          			<summary class=''>How do I deploy it?</summary>
          			<p>We recommend using Heroku. We include a Procfile for you, so all you need to do is:
          			<p>
            			<p>Install the <a href="https://toolbelt.heroku.com/">Heroku Toolbelt</a></p>
            			<p>Run <code>heroku create</code> in Selfstarter's folder</code></p>
            			<p>Run <code>git push heroku master</code> in Selfstarter's folder</p>
          			</p>
        		</details>
      		</li>
    	</ul>
  	</div>
</div>